.container-fluid{
    font-family: 'Amatic SC', cursive;
    background-color: rgb(253, 231, 205);
    padding: 70px;
}

.cuadro{
    background-color: rgb(253, 208, 185);
    display:flex;
    margin: auto;
}

.imagen-animal {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
  }

